 
 
 <div class="cat-btn"><a href="/" style="color: inherit; text-decoration: none;">Home</a></div>
  <div class="cat-btn menu-toggle" 
        onclick="document.querySelector('.left-sidebar').classList.toggle('open')">Mandi Rates</div>
  <a class="cat-btn" data-category="business"style="text-decoration: none;" href="/business">Business</a>
  <a class="cat-btn" data-category="health"style="text-decoration: none;" href="/health">Health</a>
  <a class="cat-btn" data-category="world"style="text-decoration: none;" href="/world">World</a>

 <a class="cat-btn" data-category="national" style="text-decoration: none;" href="/national">National</a>
  <a class="cat-btn" data-category="politics"style="text-decoration: none;" href="/politics">Politics</a>
  <a class="cat-btn" data-category="crime"style="text-decoration: none;" href="/crime">Crime</a>
  <a class="cat-btn" data-category="technology"style="text-decoration: none;" href="/technology">Technology</a>
  <a class="cat-btn" data-category="sports"style="text-decoration: none;" href="/sports">Sports</a>
  <a class="cat-btn" data-category="entertainment"style="text-decoration: none;" href="/entertainment">Entertainment</a>
  <a class="cat-btn" data-category="education"style="text-decoration: none;" href="/education">Education</a>
  <a class="cat-btn" data-category="environment"style="text-decoration: none;" href="/environment">Environment</a>
  <a class="cat-btn" data-category="science"style="text-decoration: none;" href="/science">Science</a>
  <a class="cat-btn" data-category="live"style="text-decoration: none;" href="/live">Live</a>
  <a class="cat-btn" data-category="plans"style="text-decoration: none;" href="/plans">Plans</a>

  <a class="cat-btn" data-category="terms"style="text-decoration: none;" href="/terms">Terms</a>

  <a class="cat-btn" data-category="privacy"style="text-decoration: none;" href="/privacy">Privacy</a>
